:root {
	--ar-icon-size: 24px;
	--ar-link-text-color: #000000;

	--ar-reset-color: #ffb1ae;
	--ar-reset-color-hover: #ff908c;
}

.ar-link a,
.ar-reset-link a,
.ar-radio-button a,
.ar-checkbox-button a {
	cursor: pointer;
	user-select: none;
	transition: all 0.2s ease-in-out;
	color: var(--ar-link-text-color);
	line-height: 1;
}

.ar-reset-link a {
	color: var(--ar-reset-color);
}
.ar-reset-link:hover a {
	color: var(--ar-reset-color-hover);
}

.ar-radio-button,
.ar-checkbox-button {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	line-height: 1;
}

.ar-radio-button::before,
.ar-checkbox-button::before {
	content: '';
	flex-shrink: 0;
	width: var(--ar-icon-size);
	height: var(--ar-icon-size);
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.ar-radio-button-unselected::before {
	opacity: 0;
}

.ar-radio-button-selected::before {
	background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PGcgaWQ9Il9yb290IiBzdHlsZT0ic2hhcGUtcmVuZGVyaW5nOmdlb21ldHJpY1ByZWNpc2lvbjt0ZXh0LXJlbmRlcmluZzpvcHRpbWl6ZUxlZ2liaWxpdHk7Ij48ZWxsaXBzZSBpZD0iXzIiIGN4PSIxMiIgY3k9IjEyIiByeD0iNyIgcnk9IjciIGNsaXAtcGF0aD0idXJsKCNfMSkiIHN0eWxlPSJmaWxsOnJnYigxMTQsMTk2LDEzNik7c3Ryb2tlOm5vbmU7IiAvPjxlbGxpcHNlIGlkPSJfMyIgY3g9IjEyIiBjeT0iMTIiIHJ4PSI3IiByeT0iNyIgY2xpcC1wYXRoPSJ1cmwoI18xKSIgc3R5bGU9InN0cm9rZTpyZ2IoMzgsOTMsMjgpO3N0cm9rZS13aWR0aDoxO2ZpbGw6bm9uZTsiIC8+PHBvbHlsaW5lIGlkPSJfNCIgcG9pbnRzPSI5IDEyIDExIDE0IDE1IDEwIiBjbGlwLXBhdGg9InVybCgjXzEpIiBzdHlsZT0ic3Ryb2tlOnJnYigyNTUsMjU1LDI1NSk7c3Ryb2tlLXdpZHRoOjI7ZmlsbDpub25lOyIgLz48L2c+PGRlZnMgaWQ9Il9yZXMiPjxjbGlwUGF0aCBpZD0iXzEiPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=");
}

.ar-checkbox-button-checked::before {
	background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PGcgaWQ9Il9yb290IiBzdHlsZT0ic2hhcGUtcmVuZGVyaW5nOmdlb21ldHJpY1ByZWNpc2lvbjt0ZXh0LXJlbmRlcmluZzpvcHRpbWl6ZUxlZ2liaWxpdHk7Ij48cmVjdCBpZD0iXzIiIHg9IjYiIHk9IjYiIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgY2xpcC1wYXRoPSJ1cmwoI18xKSIgc3R5bGU9ImZpbGw6cmdiKDI1NSwyNTUsMjU1KTtzdHJva2U6bm9uZTsiIC8+PHJlY3QgaWQ9Il8zIiB4PSI2IiB5PSI2IiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIGNsaXAtcGF0aD0idXJsKCNfMSkiIHN0eWxlPSJzdHJva2U6cmdiKDI2LDc5LDEyNyk7c3Ryb2tlLXdpZHRoOjE7ZmlsbDpub25lOyIgLz48cG9seWxpbmUgaWQ9Il80IiBwb2ludHM9IjkgMTIgMTEgMTQgMTUgMTAiIGNsaXAtcGF0aD0idXJsKCNfMSkiIHN0eWxlPSJzdHJva2U6cmdiKDMxLDE2MCwzMSk7c3Ryb2tlLXdpZHRoOjI7ZmlsbDpub25lOyIgLz48L2c+PGRlZnMgaWQ9Il9yZXMiPjxjbGlwUGF0aCBpZD0iXzEiPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=");
}

.ar-checkbox-button-unchecked::before {
	background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PGcgaWQ9Il9yb290IiBzdHlsZT0ic2hhcGUtcmVuZGVyaW5nOmdlb21ldHJpY1ByZWNpc2lvbjt0ZXh0LXJlbmRlcmluZzpvcHRpbWl6ZUxlZ2liaWxpdHk7Ij48cmVjdCBpZD0iXzIiIHg9IjYiIHk9IjYiIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgY2xpcC1wYXRoPSJ1cmwoI18xKSIgc3R5bGU9ImZpbGw6cmdiKDI1NSwyNTUsMjU1KTtzdHJva2U6bm9uZTsiIC8+PHJlY3QgaWQ9Il8zIiB4PSI2IiB5PSI2IiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIGNsaXAtcGF0aD0idXJsKCNfMSkiIHN0eWxlPSJzdHJva2U6cmdiKDI2LDc5LDEyNyk7c3Ryb2tlLXdpZHRoOjE7ZmlsbDpub25lOyIgLz48L2c+PGRlZnMgaWQ9Il9yZXMiPjxjbGlwUGF0aCBpZD0iXzEiPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=");
}
